{{> pageBanner}}

<section class="wrapper bg-light mt-10">
  <div class="container pb-14 pb-md-16">
    <div
      class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center"
    >
      <div class="col-12">
        <h2 class="display-4 mb-3">Our Story</h2>
        <p class="lead">
          WeMoove ride sharing app was born out of a need to improve how we move
          around daily. The practice of struggling for vehicles at bus stops or
          having to wait for long periods of time for a convenient ride became
          increasingly tiring not just for the developers at Connexxion Group
          but for some of its staff. In time, it became clear that this was
          indeed a challenge faced by more than half the Nigerian population.
        </p>
        <p class="lead">
          The need to birth WeMoove became increasingly essential when we
          reached out to commuters at traffic and bus stops for a pilot survey.
          Overtime, we observed a pattern in comments not far from commuters
          losing their phones and valuable items in transit and without any
          means of ever recovering these items.
        </p>
        <p class="lead">
          In other cases, we sighted rape cases, kidnapping and gunpoint robbery
          in public transport where working class folks would loose work laptops
          and get in trouble with their respective employers or get charmed and
          robbed at the same time.
        </p>
        <p class="lead">
          These vices and risky situations spurred a need to create a safe
          environment where commuters can share rides and move around safely,
          conveniently and securely.
        </p>
        <p class="lead">
          WeMoove provides a safe ride finding platform from where you can
          comfortably share rides and be certain that either you, your driver or
          WeMoove knows the person seated beside you in a carpool. This means
          you will be able to track cases or reach out to your driver if need be
          or in any case that you forgot something in his/her vehicle.
        </p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-6">
        <h2 class="display-6 mb-3">Who Owns WeMoove?</h2>
        <p class="lead fs-lg pe-lg-5">WeMoove ride sharing app is owned and
          operated by its parent company Connexxion Telecoms & Solutions,
          Maitama Abuja.
        </p>
        <p>
          We are a team of driven, innovative and result oriented specialists
          with the passion and requisite skills to operate the best ride sharing
          outfit in Nigeria. We are located at 2A Iller Crescent, Maitama, Abuja
          in the heart of the city, quite close to the Inspector General of
          Police’s House. On WeMoove, you will find us as your home office in
          case you ever need to reach out for partnerships and deals.
        </p>
        <p class="mb-6">WeMoove takes the stress and risk out of finding an
          along ride to your destination. We provide the convenience you deserve
          to move along swiftly and comfortably from point A to point B.</p>
        <a
          href="https://connexxiontelecom.com"
          target="_blank"
          class="btn btn-primary btn-sm mb-0"
        >Learn More</a>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <div class="card me-lg-6">
          <div class="card-body p-6">
            <div class="d-flex flex-row">
              <div>
                <h4 class="mb-1">Our Mission</h4>
                <p class="mb-0">We bring innovation to life through technology
                  and aim to revolutionize the transportation and ride sharing
                  industry.
                </p>
              </div>
            </div>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
        <div class="card mx-lg-6 mt-6">
          <div class="card-body p-6">
            <div class="d-flex flex-row">
              <div>
                <h4 class="mb-1">Our Vision</h4>
                <p class="mb-0">To provide an unparalleled experience as the
                  most trusted leader in transport across Nigeria and Africa.</p>
              </div>
            </div>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.card -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
