{{> pageBanner}}

<section class="wrapper bg-light mt-10">
  <div class="container pb-14 pb-md-16">
    <div
      class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center"
    >
      <div class="col-12">
        <h2 class="display-4 mb-3">How to use the WeMoove app</h2>
        <p class="lead">
          WeMoove is essentially a convenience ride sharing app developed to help you secure a pocket friendly ride
          from your location to your destination without having to struggle for buses or taxis at bus stops nor lose
          any of your valuables in the process. It is developed with safety features to keep you safe and comfortable.
        </p>
        <p class="lead">
          It was developed to ensure that private car owners can have access to an organized method of maximizing
          their vehicle’s potentials throughout its lifetime.
        </p>
        <p class="lead">
          Below is a quick guide to help you quickly understand how to use the world’s best “along” transport app to safely get to your destination…
        </p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row text-center">
      <div class="col-lg-10 mx-auto">
        <div class="position-relative">
          <div class="shape bg-dot red rellax w-16 h-18" data-rellax-speed="1" style="top: 1rem; left: -3.9rem;"></div>
          <div class="shape rounded-circle bg-line primary rellax w-18 h-18" data-rellax-speed="1" style="bottom: 2rem; right: -3rem;"></div>
          <video poster="./assets/img/photos/movie.jpg" class="player" playsinline controls preload="none">
            <source src="./assets/media/movie.mp4" type="video/mp4">
            <source src="./assets/media/movie.webm" type="video/webm">
          </video>
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <h2 class="display-4 mb-5 mt-15">To Get A Ride</h2>
<!--    <p class="lead fs-lg mb-8">We make your spending <span class="underline">stress-free</span> for you to have the perfect control.</p>-->
    <div class="row gx-lg-8 gx-xl-12 gy-6 process-wrapper line">
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">01</span></span>
        <h4 class="mb-1">Launch, Register & Fund</h4>
        <p>
          Launch the app, register and fund your wallet. Then enter your destination into the “Where to” box and search.
          Once done, you’ll see different ride-sharing options to your destination as well as the driver’s pickup points.
        </p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">02</span></span>
        <h4 class="mb-1">Choose A Ride</h4>
        <p>
          Select a ride with a pick-up point closest to your location, agree on a price point and move briskly to your pick-up area.
        </p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">03</span></span>
        <h4 class="mb-1">Enjoy Ride</h4>
        <p>
          Immediately your ride arrives, join your driver and enjoy your trip to the driver’s final stop.
          You can choose to alight at or before the final stop as it aligns with your decisions.
        </p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">04</span></span>
        <h4 class="mb-1">Leave Ratings & Review</h4>
        <p>
          After your trip, please ensure to rate and leave a review about your driver. You can choose between 1 to 5 stars;
          depending on your ratings of the ride experience to help other users pick the best options at their disposal.
        </p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <h2 class="display-4 mb-5 mt-15">To Drive</h2>
    <div class="row gx-lg-8 gx-xl-12 gy-6 process-wrapper line">
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">01</span></span>
        <h4 class="mb-1">Launch, Register & Fund</h4>
        <p>
          Switch from passenger mode to driver mode, click on my cars and then click on add new car at the bottom right of your screen.
          Then fill in  the required vehicle details and upload a picture of your car’s front view. To validate the steps,
          click on confirm and voilà! You are done registering your vehicle.
        </p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">02</span></span>
        <h4 class="mb-1">Post A Ride</h4>
        <p>
          To setup a ride, on your driver mode’s home screen, tap on “Post Ride”, then on the new interface, input, add
          your pick-up location and destination which is your final car stop. Then add other details e.g., car capacity,
          AC, your rates and other car details and then click on Post Ride. Wait to accept or reject requests from riders.
        </p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">03</span></span>
        <h4 class="mb-1">Swipe to Start or Cancel a Ride</h4>
        <p>
          Once the car capacity has been filled up or you are satisfied with the number of passengers so far,
          you can then swipe right to start a ride or swipe left to cancel the ride.
        </p>
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-3"> <span class="icon btn btn-circle btn-lg btn-primary disabled mb-4"><span class="number">04</span></span>
        <h4 class="mb-1">Safe Trip</h4>
        <p>
          You can now proceed to pick riders at your pickup locations and then proceed within the speed limit towards your final destination.
        </p>
      </div>
      <!--/column -->
    </div>
    <div class="row mt-15">
      <div class="col-md-9 col-lg-7 col-xl-7 mx-auto text-center">
        <h2 class="display-4 mb-3">Get Started Today</h2>
        <p class="lead fs-lg mb-6">
          Struggling to get a ride at bus stops isn't ideal and shouldn't be part of your everyday worries.
          You can catch a safe ride easily while avoiding the risk of loosing valuable items in a rush.
          Experience WeMoove ride-sharing in convenience & class now...
        </p>
        <div
          class="d-flex justify-content-center animate__animated animate__slideInUp"
        >
                  <span><a
                    class="btn btn-primary btn-icon btn-icon-start me-2"
                  ><i class="uil uil-apple"></i> App Store</a></span>
          <span><a class="btn btn-dark btn-icon btn-icon-start"><i
            class="uil uil-google-play"
          ></i>
                      Google Play</a></span>
        </div>
      </div>
      <!-- /column -->
    </div>

  </div>
  <!-- /.container -->
</section>
<!-- /section -->
