<section class="wrapper bg-dark" style="height: 100vh">
  <div class="swiper-container swiper-hero dots-over" data-margin="0" data-autoplay="true" data-autoplaytime="5000" data-nav="false" data-dots="true" data-items="1" style="height: 100vh !important;">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide bg-overlay bg-overlay-400 bg-dark bg-image" data-image-src="./assets/img/photos/bg-1.png" style="height: 100vh !important;">
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-md-10 offset-md-1 col-lg-7 offset-lg-0 col-xl-6 col-xxl-5 text-center text-lg-start justify-content-center align-self-center align-items-start">
                <h2 class="display-1 fs-56 mb-4 text-white animate__animated animate__slideInDown animate__delay-1s">Drive & Earn On Your Own Terms.</h2>
                <p class="lead fs-23 lh-sm mb-7 text-white animate__animated animate__slideInRight animate__delay-2s">Connect, make friends and earn some more funds with WeMoove.</p>
                <div class="d-flex justify-content-center justify-content-lg-start animate__animated animate__slideInUp animate__delay-3s">
                  <span><a class="btn btn-primary btn-icon btn-icon-start me-2"><i class="uil uil-apple"></i> App Store</a></span>
                  <span><a class="btn btn-dark btn-icon btn-icon-start"><i class="uil uil-google-play"></i> Google Play</a></span>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.container -->
        </div>
        <!--/.swiper-slide -->
        <div class="swiper-slide bg-overlay bg-overlay-400 bg-dark bg-image" data-image-src="./assets/img/photos/bg-3.png" style="height: 100vh !important;">
          <div class="container h-100">
            <div class="row h-100">
              <div class="col-md-10 offset-md-1 col-lg-7 offset-lg-5 col-xl-6 offset-xl-6 col-xxl-5 offset-xxl-6 text-center text-lg-start justify-content-center align-self-center align-items-start">
                <h2 class="display-1 fs-56 mb-4 text-white animate__animated animate__slideInDown animate__delay-1s">Tag Along To Your Destination Now.</h2>
                <p class="lead fs-23 lh-sm mb-7 text-white animate__animated animate__slideInRight animate__delay-2s">Join 5 million other daily users to enjoy the world’s first safe & coordinated carpool.</p>
<!--                <div class="animate__animated animate__slideInUp animate__delay-3s"><a href="#" class="btn btn-outline-white">Read More</a></div>-->
                <div class="d-flex justify-content-center justify-content-lg-start animate__animated animate__slideInUp animate__delay-3s">
                  <span><a class="btn btn-primary btn-icon btn-icon-start me-2"><i class="uil uil-apple"></i> App Store</a></span>
                  <span><a class="btn btn-dark btn-icon btn-icon-start"><i class="uil uil-google-play"></i> Google Play</a></span>
                </div>
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!--/.container -->
        </div>
        <!--/.swiper-slide -->


<!--        <div class="swiper-slide bg-overlay bg-overlay-400 bg-dark bg-image" data-image-src="./assets/img/photos/bg9.jpg">-->
<!--          <div class="container h-100">-->
<!--            <div class="row h-100">-->
<!--              <div class="col-md-10 offset-md-1 col-lg-7 offset-lg-5 col-xl-6 offset-xl-6 col-xxl-5 offset-xxl-6 text-center text-lg-start justify-content-center align-self-center align-items-start">-->
<!--                <h2 class="display-1 fs-56 mb-4 text-white animate__animated animate__slideInDown animate__delay-1s">Just sit and relax.</h2>-->
<!--                <p class="lead fs-23 lh-sm mb-7 text-white animate__animated animate__slideInRight animate__delay-2s">We make sure your spending is stress free so that you can have the perfect control.</p>-->
<!--                <div class="animate__animated animate__slideInUp animate__delay-3s"><a href="#" class="btn btn-lg btn-outline-white rounded-pill">Contact Us</a></div>-->
<!--              </div>-->
<!--              &lt;!&ndash;/column &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash;/.row &ndash;&gt;-->
<!--          </div>-->
<!--          &lt;!&ndash;/.container &ndash;&gt;-->
<!--        </div>-->
        <!--/.swiper-slide -->
      </div>
      <!--/.swiper-wrapper -->
    </div>
    <!-- /.swiper -->
  </div>
  <!-- /.swiper-container -->
</section>

<section class="wrapper bg-soft-primary">
  <div class="container pt-10 pb-15 py-lg-17 py-xl-20 py-xxl-22 position-relative">
    <img class="position-lg-absolute col-12 col-lg-12 mt-lg-n50p mb-3 mb-md-10 mb-lg-0 ms-n4 d-lg-block d-none" src="assets/img/photos/phone-1.png" srcset="assets/img/photos/phone-1.png 2x" data-cue="fadeIn" alt="" style="width: 60%; top: 50%; left: 0%;" />
    <img class="position-lg-absolute col-12 col-lg-12 mt-lg-n50p mb-3 mb-md-10 mb-lg-0 text-center d-lg-none ms-2" src="assets/img/photos/phone-1.png" srcset="assets/img/photos/phone-1.png 2x" data-cue="fadeIn" alt="" style="width: 100%; top: 50%; left: 0%;" />
    <div class="row gx-lg-8 gx-xl-12 align-items-center">
      <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-6 mt-md-n9 text-center text-lg-start" data-cues="slideInDown" data-group="download">
        <h1 class="display-4 mb-4 px-md-10 px-lg-0">Enjoy Convenient & Safe Ride Sharing At a <span class="underline-3 style-3 orange">Ridiculously Low</span> Price.</h1>
        <p class="lead fs-lg mb-7 px-md-10 px-lg-0 pe-xxl-15">Download WeMoove now & enjoy stress-free 'along' services to your destination.</p>
        <div class="d-flex justify-content-center justify-content-lg-start" data-cues="slideInDown" data-group="download">
          <span><a class="btn btn-primary btn-icon btn-icon-start me-2"><i class="uil uil-apple"></i> App Store</a></span>
          <span><a class="btn btn-dark btn-icon btn-icon-start"><i class="uil uil-google-play"></i> Google Play</a></span>
        </div>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

