<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="shortcut icon" href="images/app_icon.png" type="image/x-icon" />
  <title>{{title}}</title>
</head>
<body data-scroll-animation="true">
{{> preloader}}
  <div class="body_wrapper">
    {{> header}}
    {{{body}}}
  </div>
  <!-- Back to top button -->
  <a id="back-to-top" title="Back to Top"></a>
{{> scripts}}
</body>
</html>
