{{> pageBanner}}

<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <!--    <div class="row">-->
    <!--      <div class="col-lg-8 col-xl-7 col-xxl-6">-->
    <!--        <h2 class="fs-15 text-uppercase text-muted mb-3">What We Do?</h2>-->
    <!--        <h3 class="display-4 mb-9">The service we offer is specifically designed to meet your needs.</h3>-->
    <!--      </div>-->
    <!--      &lt;!&ndash; /column &ndash;&gt;-->
    <!--    </div>-->
    <!-- /.row -->
    <div class="row gx-md-8 gy-8">
      <div class="col-md-6 col-lg-6">
        <div class="icon btn btn-block btn-lg btn-soft-yellow mb-5"><i class="uil uil-car-sideview"></i></div>
        <h4>WeMoove Ride</h4>
        <p class="mb-3">
          WeMoove offers you a convenient ride sharing platform popularly known as “ALONG” in Nigerian pidgin parlance.
          As opposed to the traditional and conventional method of doing things where you’d have to walk to a bus stop
          to join the hassles and struggles to secure a ride to your destination, we have created WeMoove to remove the
          stress so you can find rides to your destination from pickup points very close to your location.
        </p>
        <!--        <a href="#" class="more hover link-yellow">Learn More</a>-->
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-6">
        <div class="icon btn btn-block btn-lg btn-soft-yellow mb-5"><i class="uil uil-money-bill-stack"></i>
        </div>
        <h4>WeMoove Drive & Earn</h4>
        <p class="mb-3">With WeMoove Drive & Earn, you as the pilot can determine how much you want to earn just from
          going from point A to point B. This unique feature was developed to power WeMoove platform and to ensure that
          private car owners who would love to enjoy side incomes from driving can comfortably enjoy same away from the
          discomforts and hassles of city touts.</p>
        <!--        <a href="#" class="more hover link-red">Learn More</a>-->
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-6">
        <div class="icon btn btn-block btn-lg btn-soft-yellow mb-5"><i class="uil uil-truck"></i></div>
        <h4>WeMoove Deliveries (Coming Soon)</h4>
        <p class="mb-3">
          WeMoove Deliveries will remain the country’s most affordable and safest mini-courier/delivery
          platform. Unlike its carpooling and ride finding service, WeMoove Deliveries will attend to items, ensuring
          its safety as it moves from its sender to receiver.
        </p>
        <!--        <a href="#" class="more hover link-leaf">Learn More</a>-->
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="icon btn btn-block btn-lg btn-soft-yellow mb-5"><i class="uil uil-briefcase"></i></div>
        <h4>WeMoove Business (Coming Soon)</h4>
        <p class="mb-3">
          WeMoove Business is designed to help businesses find pocket friendly alternatives to move their employees to
          and from locations. WeMoove business will be a dedicated corporate solution for Nigerian start-ups and
          established firms looking to cut the cost of mobility in the coming quarter.
        </p>
        <!--        <a href="#" class="more hover link-leaf">Learn More</a>-->
      </div>
      <!--/column -->
      <div class="col-md-6 col-lg-6">
        <div class="icon btn btn-block btn-lg btn-soft-yellow mb-5"><i class="uil uil-map"></i></div>
        <h4>WeMoove Interstate (Coming Soon)</h4>
        <p class="mb-3">
          You will understand the need for a regulated, interstate ride-sharing platform if you have ever been in a
          position where buses at recognized bus stations have been filled up and you are left with unknown and
          unregistered vehicles and their drivers beckoning on you to join them journey towards your destination. <br>
          The risk of traveling in an unknown or unregistered vehicle is three times your regular risk calculation and
          leaves you at a 50-50 chance of not arriving at your destination. In most cases, those vehicles for one reason
          or the other abandon their passengers mid-way. If you travel regularly, you will observe stranded travelers on
          expressways needing a lift to somewhere safe. <br>
          WeMoove is putting finishing touches to its plan to launch a suitable solution for travelers who want to
          travel in convenience in a private vehicle with the assurance of reaching their destination.
        </p>
        <!--        <a href="#" class="more hover link-blue">Learn More</a>-->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
