{{> pageBanner}}

<section class="wrapper bg-light mt-10">
  <div class="container">
    <div
      class="row gx-lg-8 gy-8 mt-5 mt-md-12 mt-lg-0 mb-15 align-items-center"
    >
      <div class="col-12">
        <p class="lead">
          As a user of WeMoove ride sharing, your safety remains a top priority for us. This is why we have committed
          millions into ensuring that safety features and protocols are in place to keep you safe.
          You can count on our round the clock support to help with any questions or safety concerns. We implore you to
          adhere to all road safety protocols in place to keep users safe. Protocols such as using your seat belts while
          the vehicle is in motion and essentially avoiding over speeding.
          Always ensure you share your trip with loved ones as we are focused on your safety and ensuring that you get
          to your destination safely.
          To further ensure safety and security, we have partnered with safety advocates and have onboarded industry
          leading technologies and systems to advance your safety when on WeMoove.
          Keep an eye on this page for everything safety that will be added to our safety arsenal…

        </p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
